body {
  background-color: antiquewhite;
}

.head {
  display: flex;
  justify-content: space-between;
}

.mobile-form {
  display: flex;
}

@media screen and (max-width: 768px) {
  .head {
    flex-direction: column;
    align-items: center;
    background-color: wheat;
  }

  .mobile-form {
    flex-direction: column;
    align-items: center;
    background-color: wheat;
    height: 100vh;
  }
}
